/* You can add global styles to this file, and also import other style files */
@use 'tailwindcss';

body {
  margin: 0;
}

/* Base styles (mobile-first) */
.container {
  width: 100%;
  padding: 1rem;
  margin: {
    right: auto;
    left: auto;
  };
  padding: {
    right: 20px;
    left: 20px;
  };
}

/* Tablet breakpoint */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Desktop breakpoint */
@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

/* Large desktop breakpoint */
@media (min-width: 1440px) {
  .container {
    max-width: 1200px;
  }
}
